@{
    Layout = "~/Views/Shared/_PhotoEditLayoutPage.cshtml";
    ViewBag.Title = "Index";
}

<html lang="">
<head>
    <title>相簿上傳編輯系統</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="~/Content/fluffsterLayout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
    <script src="chrome-extension://jhffgcfmcckgmioipfnmbannkpncfipo/util.js"></script>
    <script src="chrome-extension://jhffgcfmcckgmioipfnmbannkpncfipo/pagejs.js"></script>
</head>

<body id="top">
    @*@Html.Partial("_HomeTitlePartialView")*@
    <div id="pageintro" class="wrapper row1 bgded" style="background-image: url('https://i.imgur.com/zO4MHwT.png'); ">
        <figure class="hoc clear">
            <figcaption class="heading"></figcaption>
        </figure>
    </div>
    @using (Html.BeginForm("UploadImg", "Home", FormMethod.Post, new { enctype = "multipart/form-data",name= "FileForm" }))
    {
        @Html.AntiForgeryToken()
        <div class="wrapper row3">
            <section class="hoc container clear">
                <div style="text-align: right; font-size: 20px; ">
                    @Html.ActionLink("管理頁面", "Admin")
                </div>
                <div class="sectiontitle">
                    <span class="label-info form-group" style="font-size: 20px; color: orangered">請上傳圖片:</span>
                    <input id="File1" type="file" name="File1" accept=".png,.jpg">
                    <br />
                    <img id="img1" src="@ViewBag.File1PathFileName" alt="" />
                    <br />
                    <span id="fn"></span>
                    <span id="fs"></span>
                    <br />
                    @Html.Hidden("picHigh", 0)
                    @Html.Hidden("picWidth", 0)
                    <br />
                </div>
                <div class="center">
                    <span class="label-info form-group" style="font-size:20px;color:orangered">請選擇外框圖:</span>
                    <br />
                    <br />
                    <div class="col form-inline">
                        @Html.RadioButton("borderStyle", "StraightStyle", new { @class = "borderStyle mr-2" })
                        <img class="mr-4" id="imgBorder" src="@ViewBag.borderStraightStylePathFileSrc" alt="" style="width: 30%; border: 2px gray solid;" />
                        @Html.RadioButton("borderStyle", "HorizontalStyle", new { @class = "borderStyle mr-2" })
                        <img id="imgBorder" src="@ViewBag.borderHorizontalStylePathFileSrc2" alt="" style="width: 40%; border: 2px gray solid;" />
                        <br />
                    </div>
                    
                    <button type="button" class="btn btn-primary mt-4" onclick="check()">上傳</button>
                </div>
                
                <div class="sectiontitle">
                    <br />
                    <span class="label-info form-group" style="font-size:20px;color:orangered">合成後圖片:</span>
                    <br />
                    <img id="photoResult" src="@ViewBag.resultPathFileSrc" alt="" style="border: 2px gray solid;" />
                </div>

                <footer class="center mt-4" style="display:none">
                    <button type="button" class="btn btn-primary mt-4 downloadFile" >下載</button>
                </footer>
            </section>
        </div>
    }


    <a id="backtotop" href="#top" class=""><i class="fas fa-chevron-up"></i></a>

    <!-- Code injected by live-server -->
    @*成功訊息*@
    @if (TempData["Message"] != null)
    {
        <script type="text/javascript">
            var message = @Html.Raw(Json.Encode(TempData["Message"]));
            alert(message);
            $("footer").show();
        </script>
    }

    <script type="text/javascript">  
        window.check = function () {
            var input = document.getElementById("File1");
            if (input.files) {
                //讀取圖片資料 
                var f = input.files[0];
                var reader = new FileReader();
                reader.onload = function (e) {
                    var data = e.target.result;
                    //載入圖片獲取圖片真實寬度和高度 
                    var image = new Image();
                    image.onload = function () {
                        var width = image.width;
                        var height = image.height;
                        //alert(width + '======' + height + "=====" + f.size);
                        $('input[name="picWidth"]').val(width);
                        $('input[name="picHigh"]').val(height);
                        alert("上傳成功");
                        document.FileForm.submit();
                    };
                    image.src = data;
                };
                reader.readAsDataURL(f);               
            }
            else {
                var image = new Image();
                image.onload = function () {
                    var width = image.width;
                    var height = image.height;
                    var fileSize = image.fileSize;
                    //alert(width + '======' + height + "=====" + fileSize);
                }
                image.src = input.value;
            }
            // document.FileForm.submit();
        }
        $(function () {
            // 前端顯示選擇的圖檔
            $("#File1").on("change", function () { uploadChangeAndShow("#File1", "#img1", "#fn", "#fs") });
            function uploadChangeAndShow(file1, img, fn, fs) {
                var file = $(file1)[0].files[0];
                if ($(file1)[0].files && file) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $(img).attr('src', e.target.result);
                        $(fn).text(file.name);
                        $(fs).text(file.size + "bytes");
                        
                    }
                    reader.readAsDataURL(file);
                }
            } 
            // 下載檔案
            $('.downloadFile').click(function () {
                downloadIamge("#photoResult", new Date().toJSON().slice(0, 10))
            });
            function downloadIamge(selector, name) {
                // 通過選擇器獲取img元素
                var img = document.querySelector(selector)
                // 將圖片的src屬性作為URL地址
                var url = img.src
                var a = document.createElement('a')
                var event = new MouseEvent('click')

                a.download = name || '下載圖片名稱'
                a.href = url

                a.dispatchEvent(event)
            }

        });
    </script>
</body>
</html>